  body {
       
        background: linear-gradient(90deg, #FF8900, #FFBE73);
      }
      
      header {
        color: #C0F73E;
        text-align: center;

        text-shadow: 3px 0px 5px #BF7D30, 0 0 25px yellow, 0 0 5px #6D9C00;
      }
      
      .GRP {

        margin-bottom: 30px;  
        height: auto;
          
        background: linear-gradient(90deg, #CC99FF, #CCCCFF);
        box-shadow: 10px 10px 15px 5px #A65900;

        text-align: left;  
        text-indent: 3%;
          
        color: #008500;
        text-shadow: 5px 2px 15px #269926;
        font-family: Courier New, Times New Roman;
        font-size: 1em;
        padding: 5px 60px 5px 30px;
        font-weight: bold;
      }
      
      #rzp {
        background-color: #BF7D30;
      }
      
      #rzp_in {
        float: left;
        color: #C0F73E;
        font-weight: bold;
        text-shadow: 5px 2px 15px #C0F73E;
      }
      
      #dsh_in {
        color: #C0F73E;
        font-weight: bold;
        text-shadow: 5px 2px 15px #C0F73E;
      }
      
      
      #back {
        position: relative;
      }
      
