  body {
        background: linear-gradient(90deg, #238D43, #64DE89);
      }
      
      header {
        color: #EA69A6;
        text-shadow: 3px 0px 5px #8A0041, 0 0 25px yellow, 0 0 5px #FFBB73;
      }
      
      .GRP {

        margin-bottom: 30px;    
        height: auto;
        background: linear-gradient(90deg, #CC99FF, #CCCCFF);
        box-shadow: 10px 10px 15px 5px #007B25;

        text-align: left;   
        text-indent: 3%;
          
        color: #008500;
        text-shadow: 5px 2px 15px #269926;
        font-family: Courier New, Times New Roman;
        font-size: 1em;
        padding: 5px 60px 5px 30px;
        font-weight: bold;
      }
      
      #rzp {
        border: 1px solid black;
        background-color: #21825B;

      }
      
      #rzp_in {
        color: #FFAE40;
        text-shadow: 5px 2px 15px #A66000;
      }
      
      #dsh_in {
        color: #FFAE40;
        text-shadow: 5px 2px 15px #A66000;
      }
      

      
      #back {
        position: relative;
      }
      
